{% extends 'Layout/main_layout.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}


<div class="row">
    <div class="col-lg-12 text-center">
        <div class="big-button-wrapper">
            <h2>Menu</h2>
            <a href="{{ path_for('menu') }}">
                <div class="big-button">
                    <img src="images/food.png" alt="">
                </div>
            </a>
        </div>

        <div class="big-button-wrapper">
            <h2>Happy hours</h2>
            <a href="{{ path_for('happyhours_index') }}">
                <div class="big-button">
                    <img src="images/cocktails.png" alt="">
                </div>
            </a>
        </div>
    </div>
</div>

{% endblock %}