body {
    margin: 0px;
    padding: 0px 0px 50px 0px;
}

#pubify-logo {
    margin: 50px auto 0px auto;
    display: block;
}

header {
    padding-top: 13px;
    background-color: #8C7B68;
    color: #E3E3E3;
    height: 50px;
}

header a.login {
    text-decoration: none;
    color: #E3E3E3;
    float: right;
}

#login-wrapper {
    margin: 100px auto 0px auto;
    padding: 20px;
    width: 280px;
    border: 1px solid #CED4DA;
}

span.available {
    padding: 4px 10px 4px 10px;
    border-radius: 10px;
    background-color: #468847;
    color: #FFF;
}

span.unavailable {
    padding: 4px 10px 4px 10px;
    border-radius: 10px;
    background-color: #B94A48;
    color: #FFF;
}