{% extends 'Layout/admin_layout.html.twig' %}

{% block title %}Nouvelle commande client{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">

            {% include 'FlashMessages/error.html.twig' %}

            <h1>Nouvelle commande client</h1>

            <form id="drinks-create-form" action="{{ path_for('admin_customer-orders_store') }}" method="post">

                <div class="row">
                    <div class="form-group">
                        <div class="col-xs-12">
                            <span class="text-danger">* Champs obligatoire</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="customer-orders-create-table">Table<span class="text-danger">*</span></label>
                            <input type="number" min ="0" step="1" class="form-control" id="customer-orders-create-table" name="table" required>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="customer-orders-create-tva">TVA %<span class="text-danger">*</span></label>
                            <input type="number" min ="0" step="0.05" class="form-control" id="customer-orders-create-tva" name="tva" required>
                        </div>
                    </div>
                </div>

                <div class="row product">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="customer-orders-create-product">Produit <span class="text-danger">*</span></label>
                            <select id="customer-orders-create-product" class="form-control" name="productsId[]">
                                {% for buyable in buyables %}
                                    <option value="{{ buyable.id }}">{{ buyable.product_name }} ({{ buyable.unit_name }})</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="customer-orders-create-quantity">Quantité <span class="text-danger">*</span></label>
                            <input type="number" min ="1" step="1" class="form-control" id="customer-orders-create-quantity" name="quantities[]" required>
                        </div>
                    </div>
                </div>

                <a class="btn btn-primary btn-add-product text-white">Ajouter un produit</a>

                <br>
                <br>

                <button class="btn btn-success">Créer</button>

            </form>

        </div>
    </div>

{% endblock %}
